/* Importing Google Fonts */
/* Roboto: font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
/* Gothic: font-family: 'Gothic A1', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400;700;900&display=swap');


/* Default Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  border: 1px solid black;
  padding: 50px;
  background-color: red;
  margin: 0 10px;
}

h2{
  margin-bottom: 10px;
}